@font-face {
  font-family: "Ownglyph_corncorn-Rg";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2412-1@1.0/Ownglyph_corncorn-Rg.woff2")
    format("woff2");
}
body {
  font-family: "Ownglyph_corncorn-Rg";
  font-weight: 500;
  font-size: 23px;
  display: flex;
  flex-direction: column;
}

/* header */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
#logo {
  width: 300px;
  height: 80px;
  margin: 15px;
}
.nav-menu {
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-menu li {
  width: 120px;
  height: 50px;
  line-height: 50px;
  background-color: rgb(168, 214, 253);
  list-style: none;
  text-align: center;
  border: 2px solid black;
  cursor: pointer;
}
.nav-menu li:hover,
.nav-menu li:active {
  background-color: rgb(90, 172, 245);
}
.technique {
  position: relative;
}
.nav-menu li:hover .tech-menu {
  max-height: 120px;
}
.tech-menu {
  display: block;
  position: absolute;
  max-height: 0;
  margin-left: -42px;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}
.tech-menu li {
  background-color: rgb(248, 236, 168);
}
.tech-menu li:hover {
  background-color: rgb(243, 190, 44);
}
.tech-menu.active {
  max-height: 120px;
}

/* main */
main {
  width: 100vw;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* home */
section.home h1 {
  font-size: 80px;
  font-weight: 800;
  margin: 0;
}
section.home h2 {
  font-size: 50px;
  text-align: center;
}

/* myself */
section.myself {
  display: none;
  flex-direction: column;
  font-size: 30px;
  margin-top: -70px;
  gap: 30px;
}
section.myself div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 70px;
}
section.myself img {
  width: 370px;
}
section.myself img:hover {
  scale: 1.2;
  transition: all 0.4s ease-out;
}
section.myself p {
  width: 50vw;
  line-height: 40px;
  font-size: 30px;
}

/* technique */
section.fe {
  display: none;
  width: 85vw;
  line-height: 35px;
  font-size: 25px;
}
section.be {
  display: none;
  width: 85vw;
  line-height: 35px;
  font-size: 25px;
}

/* career */
section.career {
  display: none;
  width: 85vw;
  line-height: 50px;
  font-size: 30px;
  margin-top: -50px;
}

/* blog */
section.blog {
  display: none;
  width: 85vw;
  line-height: 40px;
}
section.blog article#blog1,
section.blog article#blog2,
section.blog article#blog3,
section.blog article#blog4,
section.blog article#blog5 {
  border-bottom: 1px solid black;
}
section.blog article h2 {
  font-size: 40px;
  width: 80vw;
  font-weight: lighter;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 20px;
}

/* guestbook */
section.guestbook {
  display: none;
  flex-direction: column;
  width: 85vw;
  gap: 30px;
  margin-top: -80px;
}
section.guestbook h2 {
  margin-bottom: 0px;
}
.guestbook-list table {
  table-layout: fixed;
}
.guestbook-list table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  margin-top: -30px;
  width: 80vw;
}
td {
  max-width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
table thead tr,
table tbody tr {
  display: table;
  width: 80vw;
}
table thead tr th {
  width: 140px;
}
table tbody tr td {
  width: 140px;
  overflow-y: auto;
}
table tbody {
  overflow-y: auto;
  overflow-x: hidden;
  float: left;
  height: 350px;
}
.textInput input {
  width: 100px;
  height: 25px;
  font-size: 15px;
}
.textInput div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.textInput textarea {
  width: 75vw;
  height: 50px;
}
.textInput button {
  width: 50px;
  height: 50px;
}

/* footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  padding: 10px;
}
footer a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  color: white;
  text-decoration-line: none;
}
footer img {
  width: 50px;
}
